{% macro render_field(field) %}

  {% if field.type == "BooleanField" %}
    <p>
      <label>
        {{ field(**kwargs)|safe }}
        <span>{{ field.label.text }}</span>
      </label>
    </p>

  {% else %}

    {{ field(**kwargs)|safe }}
    <label for="{{ field.name }}">{{ field.label.text }}</label>

  {% endif %}

  {% if field.errors %}
    {% for error in field.errors %}
      <span class="aa">{{ error }}</span>
    {% endfor %}
  {% endif %}

{% endmacro %}