<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="about">About</a></li>
            <li><a href="articles">Articles</a></li>
        </ul>
    </div>
</nav>