{% extends 'layout.html' %}

{% block body %}
  <h1>Articles</h1>
  <ul class="collection">
    {% for article in articles %}
      <li class="collection-item"><a href="articles/{{ article.id }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock%}