<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flask App</title>

     <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>

    {% include 'includes/_navbar.html' %}

    <div class="container">
        {% block body %}
        {% endblock %}
    </div>

    <!-- Compiled and minified jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    
</body>
</html>