{% extends 'layout.html' %}

{% block body %}
  <h1>Registration</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="" method="POST" class="right-alert">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">person</i>
        {{ render_field(form.name, class_="validate") }}
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">email</i>
        {{ render_field(form.email, class_="validate") }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">account_circle</i>
        {{ render_field(form.username, class_="validate") }}
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">lock</i>
        {{ render_field(form.password, class_="validate") }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">lock_outline</i>
        {{ render_field(form.confirm, class_="validate") }}
      </div>
      <div class="input-field col s12 m6">
        {{ render_field(form.accept_tos, class_="validate filled-in") }}
      </div>
    </div>
    <button type="submit" value="Submit" class="btn waves-effect waves-light">Send</button>
  </form>
{% endblock%}